# Movie_TV_Project

### Importing Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dfView = pd.read_csv('C:/Users/Jimen/Desktop/Internships/movie_tv_project/data/NetflixViewingHistory.csv')
dfView

                                                  Title       Date
0         Grey's Anatomy: Season 6: Give Peace A Chance  8/24/2020
1            Grey's Anatomy: Season 6: I Saw What I Saw  8/24/2020
2                    Grey's Anatomy: Season 6: Invasion  8/24/2020
3          Grey's Anatomy: Season 6: Tainted Obligation  8/24/2020
4     Grey's Anatomy: Season 6: I Always Feel Like S...  8/24/2020
...                                                 ...        ...
2425                        The Crown: Season 2: Lisbon  2/28/2018
2426              The Crown: Season 2: A Company of Men  2/24/2018
2427  Phineas and Ferb: Season 4: Der Kinderlumper/ ...  2/24/2018
2428  Phineas and Ferb: Season 4: Phineas And Ferb: ...  2/24/2018
2429                                           Fastball  2/23/2018

[2430 rows x 2 columns]

In [3]:
dfTitle = pd.read_csv('C:/Users/Jimen/Desktop/Internships/movie_tv_project/data/netflix_titles.csv')
dfTitle

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

### Data Cleaning: dfView (Personal View History)

In [4]:
dfView['Type'] = dfView["Title"].apply(lambda x: 'TV Show' if ': Season' in x else 'Movie')
dfView['Title'] = dfView["Title"].apply(lambda x: x.split(":")[0])
dfView.dropna()

                 Title       Date     Type
0       Grey's Anatomy  8/24/2020  TV Show
1       Grey's Anatomy  8/24/2020  TV Show
2       Grey's Anatomy  8/24/2020  TV Show
3       Grey's Anatomy  8/24/2020  TV Show
4       Grey's Anatomy  8/24/2020  TV Show
...                ...        ...      ...
2425         The Crown  2/28/2018  TV Show
2426         The Crown  2/24/2018  TV Show
2427  Phineas and Ferb  2/24/2018  TV Show
2428  Phineas and Ferb  2/24/2018  TV Show
2429          Fastball  2/23/2018    Movie

[2430 rows x 3 columns]

### Data Cleaning: dfTitle

In [5]:
dfTitle = dfTitle[['title','rating','release_year','type','listed_in']].dropna()
dfTitle

,title,rating,release_year,type,listed_in
0,Norm of the North: King Sized Adventure,TV-PG,2019,Movie,"Children & Family Movies, Comedies"
1,Jandino: Whatever it Takes,TV-MA,2016,Movie,Stand-Up Comedy
2,Transformers Prime,TV-Y7-FV,2013,TV Show,Kids' TV
3,Transformers: Robots in Disguise,TV-Y7,2016,TV Show,Kids' TV
4,#realityhigh,TV-14,2017,Movie,Comedies
...,...,...,...,...,...
6228,Kikoriki,TV-Y,2010,TV Show,Kids' TV
6229,Red vs. Blue,NR,2015,TV Show,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,Maron,TV-MA,2016,TV Show,TV Comedies
6232,A Young Doctor's Notebook and Other Stories,TV-MA,2013,TV Show,"British TV Shows, TV Comedies, TV Dramas"
6233,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies"

### Merging Data

In [6]:
dfMerge = pd.merge(left = dfTitle, right = dfView, left_on = ['title','type'],right_on=['Title','Type'])
dfMerge

,title,rating,release_year,type,listed_in,Title,Date,Type
0,One Day,TV-PG,2016,Movie,"Dramas, International Movies, Romantic Movies",One Day,4/6/2019,Movie
1,One Day,PG-13,2011,Movie,"Dramas, Romantic Movies",One Day,4/6/2019,Movie
2,Man Up,R,2015,Movie,"Comedies, International Movies, Romantic Movies",Man Up,12/8/2018,Movie
3,The Eighties,TV-PG,2016,TV Show,Docuseries,The Eighties,3/23/2019,TV Show
4,The Eighties,TV-PG,2016,TV Show,Docuseries,The Eighties,2/4/2019,TV Show
...,...,...,...,...,...,...,...,...
1745,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",Friends,8/4/2018,TV Show
1746,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",Friends,5/18/2018,TV Show
1747,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",Friends,5/18/2018,TV Show
1748,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",Friends,5/11/2018,TV Show
1749,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",Friends,5/6/2018,TV Show

In [7]:
num_watched = dfMerge['title'].value_counts()
num_watched

Friends                229
That '70s Show         200
New Girl               146
Grey's Anatomy         111
Riverdale               76
                      ...
The Flash                1
The Spectacular Now      1
While We're Young        1
The Princess Switch      1
Marriage Story           1
Name: title, Length: 287, dtype: int64

### Cleaning Merged Data

In [8]:
# pd.set_option("display.max_rows", None)
# dfMerge = dfMerge.drop_duplicates(['title','type','release_year'])
dfMerge = dfMerge.drop(columns = ["Title",'Type'],axis=1)
dfMerge

,title,rating,release_year,type,listed_in,Date
0,One Day,TV-PG,2016,Movie,"Dramas, International Movies, Romantic Movies",4/6/2019
1,One Day,PG-13,2011,Movie,"Dramas, Romantic Movies",4/6/2019
2,Man Up,R,2015,Movie,"Comedies, International Movies, Romantic Movies",12/8/2018
3,The Eighties,TV-PG,2016,TV Show,Docuseries,3/23/2019
4,The Eighties,TV-PG,2016,TV Show,Docuseries,2/4/2019
...,...,...,...,...,...,...
1745,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",8/4/2018
1746,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",5/18/2018
1747,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",5/18/2018
1748,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",5/11/2018
1749,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies",5/6/2018

In [9]:

dfMerge["listed_in"] = dfMerge["listed_in"].apply(lambda x: x.split(",")[0])
dfMerge

             title rating  release_year     type          listed_in       Date
0          One Day  TV-PG          2016    Movie             Dramas   4/6/2019
1          One Day  PG-13          2011    Movie             Dramas   4/6/2019
2           Man Up      R          2015    Movie           Comedies  12/8/2018
3     The Eighties  TV-PG          2016  TV Show         Docuseries  3/23/2019
4     The Eighties  TV-PG          2016  TV Show         Docuseries   2/4/2019
...            ...    ...           ...      ...                ...        ...
1745       Friends  TV-14          2003  TV Show  Classic & Cult TV   8/4/2018
1746       Friends  TV-14          2003  TV Show  Classic & Cult TV  5/18/2018
1747       Friends  TV-14          2003  TV Show  Classic & Cult TV  5/18/2018
1748       Friends  TV-14          2003  TV Show  Classic & Cult TV  5/11/2018
1749       Friends  TV-14          2003  TV Show  Classic & Cult TV   5/6/2018

[1750 rows x 6 columns]

### EDA

In [10]:
new = dfMerge.listed_in.str.split(', ')
new
track = dict()
for x in new:
    for i in x:
        if i in track:
            track[i] +=1
        else:
            track[i] = 1
track

{'Dramas': 32,
 'Comedies': 35,
 'Docuseries': 76,
 'British TV Shows': 105,
 'TV Comedies': 454,
 'Stand-Up Comedy': 1,
 'Action & Adventure': 15,
 'Children & Family Movies': 19,
 'Documentaries': 15,
 'Horror Movies': 3,
 'Crime TV Shows': 277,
 'Reality TV': 51,
 'Classic Movies': 4,
 'Cult Movies': 1,
 'Stand-Up Comedy & Talk Shows': 3,
 'TV Dramas': 51,
 'Anime Series': 8,
 'Anime Features': 1,
 'International TV Shows': 14,
 'TV Action & Adventure': 13,
 'Thrillers': 1,
 "Kids' TV": 11,
 'Romantic TV Shows': 322,
 'Classic & Cult TV': 238}