# Movie_TV_Project

### Importing Data

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dfView = pd.read_csv('C:/Users/Jimen/Desktop/Internships/movie_tv_project/data/NetflixViewingHistory.csv')
dfTitle = pd.read_csv('C:/Users/Jimen/Desktop/Internships/movie_tv_project/data/netflix_titles.csv')
dfView

                                                  Title     Date
0         Grey's Anatomy: Season 6: Give Peace A Chance  8/24/20
1            Grey's Anatomy: Season 6: I Saw What I Saw  8/24/20
2                    Grey's Anatomy: Season 6: Invasion  8/24/20
3          Grey's Anatomy: Season 6: Tainted Obligation  8/24/20
4     Grey's Anatomy: Season 6: I Always Feel Like S...  8/24/20
...                                                 ...      ...
2426                        The Crown: Season 2: Lisbon  2/28/18
2427              The Crown: Season 2: A Company of Men  2/24/18
2428  Phineas and Ferb: Season 4: Der Kinderlumper/ ...  2/24/18
2429  Phineas and Ferb: Season 4: Phineas And Ferb: ...  2/24/18
2430                                           Fastball  2/23/18

[2431 rows x 2 columns]

### Data Cleaning: dfView (Personal View History)

In [76]:
dfView['Title'] = dfView["Title"].apply(lambda x: x.split(":")[0])
dfView.rename(columns = {'Title':'title'}).dropna()

                 title     Date
0       Grey's Anatomy  8/24/20
1       Grey's Anatomy  8/24/20
2       Grey's Anatomy  8/24/20
3       Grey's Anatomy  8/24/20
4       Grey's Anatomy  8/24/20
...                ...      ...
2426         The Crown  2/28/18
2427         The Crown  2/24/18
2428  Phineas and Ferb  2/24/18
2429  Phineas and Ferb  2/24/18
2430          Fastball  2/23/18

[2431 rows x 2 columns]

### Data Cleaning: dfTitle

In [77]:
dfTitle = dfTitle[['title','rating','release_year','type','listed_in']].dropna()
dfTitle

,title,rating,release_year,type,listed_in
0,Norm of the North: King Sized Adventure,TV-PG,2019,Movie,"Children & Family Movies, Comedies"
1,Jandino: Whatever it Takes,TV-MA,2016,Movie,Stand-Up Comedy
2,Transformers Prime,TV-Y7-FV,2013,TV Show,Kids' TV
3,Transformers: Robots in Disguise,TV-Y7,2016,TV Show,Kids' TV
4,#realityhigh,TV-14,2017,Movie,Comedies
...,...,...,...,...,...
6228,Kikoriki,TV-Y,2010,TV Show,Kids' TV
6229,Red vs. Blue,NR,2015,TV Show,"TV Action & Adventure, TV Comedies, TV Sci-Fi ..."
6230,Maron,TV-MA,2016,TV Show,TV Comedies
6232,A Young Doctor's Notebook and Other Stories,TV-MA,2013,TV Show,"British TV Shows, TV Comedies, TV Dramas"
6233,Friends,TV-14,2003,TV Show,"Classic & Cult TV, TV Comedies"

### Merging Data

In [78]:
pd.merge(dfTitle,dfView)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [82]:
rating_count = df['rating'].value_counts()
rating_values = df['rating'].values
rating_count
rating_values

array(['TV-PG', 'TV-MA', 'TV-Y7-FV', ..., 'TV-MA', 'TV-MA', 'TV-14'],
      dtype=object)

AttributeError: 'DataFrame' object has no attribute 'ix'